################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LightsPlugin/.vs/Lights/v16
/LightsPlugin/LightsPlugin/bin/Debug
/LightsPlugin/LightsPlugin/obj/Debug
/LightsPlugin/LightsPlugin/packages.config
/LightsPlugin/packages/EXILED.2.0.5
/LightsPlugin/packages/EXILED.2.1.6
/LightsPlugin/LightsPlugin/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/LightsPlugin/LightsPlugin/obj/Release/Lights.csprojAssemblyReference.cache
